<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

   <!-- Definition for textEditor bean
   <bean id="textEditor2" class="com.tutorialspoint.chapter14.TextEditor">
       <property name="spellChecker" ref="spellChecker" />
       <property name="name" value="Generic Text Editor" />
   </bean>
    -->

   <!-- Definition for textEditor bean 
   byType: 根据class搜索bean，id可以任意
   byName: 根据bean id搜索bean，id必须要和变量名一致-->
   <bean id="textEditor" class="com.tutorialspoint.chapter14.autowiring.byname.TextEditor" 
      autowire="byName">
      <property name="name" value="Generic Text Editor" />
   </bean>

   <!-- Definition for spellChecker bean -->
   <bean id="spellchecker" class="com.tutorialspoint.chapter14.autowiring.byname.SpellChecker">
   </bean>

</beans>